.reset-password.minimal-margin
  .vertical-center
  .content
    %h1.logo.centered.margin-bottom-30
      %a{:href => '/'} Portly
    %h2.hide Reset Your Password
    %form(action='/reset-password' method='post')
      - if @user
        %p Enter your new password below:
        .row
          .small-10.columns
            %input{type: 'hidden', name: 'token', value: @token}
            .row.collapse
              %label(for='password')
                Password
              .small-9.columns{class: error_class('password')}
                %input(type='password' name='user[password]' id='password')
                = error_message :password
            .row.collapse
              %label(for='password_confirmation')
                Confirm Password
              .small-9.columns{class: error_class('password_confirmation')}
                %input(type='password' name='user[password_confirmation]' id='password_confirmation')
                = error_message :password_confirmation
            .row.collapse
              %button.radius.button(type='submit') Reset password
      - else
        .row
          .small-12.columns{class: error_class('email')}
            %input(type='email' name='user[email]' id='email' placeholder="Email address")
            = error_message :email
        .row
          .small-12.columns.text-center
            %button.pink.button(type='submit') Send password reset email


