.row.intro
  .large-5.columns
    %header.emphasis
      %h1
        %a{:href => '/'} Portly
      %p.text-center
  .large-7.columns
    %h2.margin-top-50 Reset Your Password
    %form(action='/reset-password' method='post')
      - if @user
        %p Enter your new password below:
        .row
          .small-10.columns
            %input{type: 'hidden', name: 'token', value: @token}
            .row.collapse
              %label(for='password')
                Password
              .small-9.columns{class: error_class('password')}
                %input(type='password' name='user[password]' id='password')
                = error_message :password
            .row.collapse
              %label(for='password_confirmation')
                Confirm Password
              .small-9.columns{class: error_class('password_confirmation')}
                %input(type='password' name='user[password_confirmation]' id='password_confirmation')
                = error_message :password_confirmation
            .row.collapse
              %button.radius.button(type='submit') Reset password
      - else
        %p Enter your email address:
        .row
          .small-10.columns
            .row.collapse
              %label(for='email')
                Email address
              .small-9.columns{class: error_class('email')}
                %input(type='email' name='user[email]' id='email')
                = error_message :email
            .row.collapse
              %button.radius.button(type='submit') Send password reset email


