%header.plan-header.margin-top-50.margin-bottom-0.padding-top-0.padding-bottom-60
  %h1.source.margin-top-0 Your Password Reset has been Sent
.content-area
  .row
    .large-10.large-centered.text-center.columns.large-offset-1.margin-bottom-100
      We sent you an email with instructions on how to reset your password.
      If you have troubles with resetting your password, email
      %a{:href => 'mailto:support@getportly.com'} Support
      and we'll help you get back in.


