.reset-password.wide.minimal-margin
  .vertical-center
  .content
    %h1.logo.centered.margin-bottom-30
      %a{:href => '/'} Portly
    %h3.text-center Your Password Reset has been Sent
    .row
      .large-12.large-centered.columns
        We sent you an email with instructions on how to reset your password.
        If you have troubles with resetting your password, email
        %a{:href => 'mailto:support@getportly.com'} Support
        and we'll help you get back in.
    .row
      .large-12.large-centered.columns.text-center.margin-top-20
        %a.button.pink{:href => '/'} Go back



