!!!html
%html
  %head
    %title= @title || App.config.site.title
    = stylesheet_include_tag 'page'
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    .row
      .large-8.large-centered.columns
        = yield

