@font-face {
	font-family: 'pictos';
	src:url('/fonts/pictos.eot');
	src:url('/fonts/pictos.eot?#iefix') format('embedded-opentype'),
		url('/fonts/pictos.woff') format('woff'),
		url('/fonts/pictos.ttf') format('truetype'),
		url('/fonts/pictos.svg#pictos') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'pictos';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="p-"] {
*/
.p-gear, .p-pause, .p-play, .p-laptop, .p-desktop, .p-clock, .p-shield, .p-menu, .p-download, .p-lock-fill, .p-unlock-fill, .p-exit, .p-switch, .p-arrow-right, .p-box-add, .p-upload, .p-clock-2, .p-users, .p-key, .p-power-cord, .p-arrow-up, .p-arrow-down, .p-pencil, .p-arrow-left, .p-arrow-left-2, .p-arrow-right-2, .p-arrow-down-2, .p-arrow-up-2, .p-plus, .p-minus {
  position: relative;
  top: 2px;
	font-family: 'pictos' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.small .p-arrow-left-2 {
  top: 0px;
}

.huge {
  font-size: 2em;
  top: 13px;
}
.small .p-plus {
  top: 1px;
}

.p-gear:before {
	content: "\e001";
}
.p-pause:before {
	content: "\e003";
}
.p-play:before {
	content: "\e004";
}
.p-minus:before {
	content: "\e006";
}
.p-plus:before {
	content: "\e005";
}
.p-laptop:before {
	content: "\e002";
}
.p-desktop:before {
	content: "\e000";
}
.p-clock:before {
	content: "\e007";
}
.p-shield:before {
	content: "\e008";
}
.p-menu:before {
	content: "\e009";
}
.p-download:before {
	content: "\e00a";
}
.p-lock-fill:before {
	content: "\e00d";
}
.p-unlock-fill:before {
	content: "\e00e";
}
.p-exit:before {
	content: "\e00c";
}
.p-switch:before {
	content: "\e00f";
}
.p-arrow-right:before {
	content: "\e010";
}
.p-box-add:before {
	content: "\e011";
}
.p-upload:before {
	content: "\e012";
}
.p-clock-2:before {
	content: "\e013";
}
.p-users:before {
	content: "\e014";
}
.p-resize:before {
	content: "\e015";
}
.p-resize-2:before {
	content: "\e016";
}
.p-key:before {
	content: "\e00b";
}
.p-power-cord:before {
	content: "\e018";
}
.p-arrow-up:before {
	content: "\e01a";
}
.p-arrow-down:before {
	content: "\e01b";
}
.p-pencil:before {
	content: "\e019";
}
.p-arrow-left:before {
	content: "\e015";
}
.p-arrow-left-2:before {
	content: "\e016";
}
.p-arrow-right-2:before {
	content: "\e017";
}
.p-arrow-down-2:before {
	content: "\e01c";
}
.p-arrow-up-2:before {
	content: "\e01d";
}
