- if @index
  %header
    .blog
      .row
        .large-12.large-centered.columns
          %h2.text-center.margin-top-30.margin-bottom-30 Recently at Portly
.content
  .row
    .large-12.columns.margin-top-50.large-centered
      = @file.join ''
