.row
  .large-10.large-centered.columns.margin-top-50
    = @file.join ''
    -#
      %h1.text-center.margin-top-50.margin-bottom-30 So new you knew we're new.
      %p
        We know you love to read about where we've been and what we've learned,
        but right now we're still in the process and not at the stage to be looking back
        and pondering.  We're super excited you have made it here and want to hear
        your <a href="/support">feedback</a>.
      %p
        No worries, though, we're here and listening, and we've got plenty to share
        with you when the time is right.

