.content-area
  .row.homepage
    .large-offset-4.large-7.columns
      %h2.source Keep yourself protected while <br />showing off your work with clients.
      %p
        Portly creates a secure tunnel from your computer to a public address so show-and-tell is effortless.
      .trial
        %a.button.large.margin-right-15{:href => '/signup'} TRY IT OUT
        or
        %a.margin-left-10{:href => '/about'} Learn More
