-#%header.pricing-header.margin-top-50.margin-bottom-0.padding-top-0.padding-bottom-60
  %h1.source.margin-top-0 Check out our Dessert Tray
  %h5.margin-bottom-0 Pick whatever suits your fancy.
.content-area
  .row
    .large-12.columns.margin-bottom-100.margin-top-30
      .pricing-box
        %ul.pricing-table
          %li.free
          %li.price Free
          %li.footer As in beer
          %li.bullet-item 1 Computer
          %li.bullet-item
            %strong.block 1
            Open Connection
          %li.bullet-item 15-minute timeout
          %li.cta-button
            %a.button{:href => "/signup?plan=free"} Get Started
        %ul.pricing-table
          %li.pro
          %li.price Pro
          %li.footer Starting at $5/month
          %li.bullet-item 2+ Computers
          %li.bullet-item
            %strong.block 4+
            Open Connections
          %li.bullet-item No timeouts + Auto-reconnect + SSL
          %li.cta-button
            %a.button{:href => "/upgrade"} I Want It
        %ul.pricing-table
          %li.enterprise
          %li.price Enterprise
          %li.footer Starting at $50/month
          %li.bullet-item 20+ Computers
          %li.bullet-item
            %strong.block 40+
            Open Connections
          %li.bullet-item No timeouts + Auto-reconnect + SSL
          %li.cta-button
            %a.button{:href => "/support?contact"} Let's Talk
