.signin.minimal-margin
  .vertical-center
  .content
    %h1.logo.centered.margin-bottom-30
      %a{:href => '/'} Portly
    %h2.hide Sign in
    %form(action='/signin' method='post')
      %input{:type => 'hidden', :name => 'plan', :value => @plan}
      .row
        .small-12.columns
          - if @error
            %small.error= @error
          .row.collapse
            .small-12.columns
              %input(type='text' name='user[email]' id='email' value="#{@user[:email]}" placeholder="Email address")
          .row.collapse
            .small-12.columns
              %input(type='password' name='user[password]' id='password' value="#{@user[:password]}" placeholder="Password")
          .row.collapse
            .small-6.columns
              %button.pink.button(type='submit') Sign in
            .small-6.columns
              %label
                %input.checkbox(type='checkbox' name='user[remember_me]' id='remember_me' value="1" checked="#{@remember_me}")
                Remember me

          .row.collapse.margin-10-top.text-center.small
            %a{:href => '/reset-password'} I forgot my password
