.content-area
  .row
    .small-centered.small-8.columns
      %h2 Sign up
      %form(action='/signup' method='post')
        .row
          .small-10.columns
            .row.collapse
              %label(for='email')
                Email
              .small-9.columns
                %input(type='text' name='user[email]' id='email')
            .row.collapse
              %label(for='subdomain')
                Subdomain
              .small-9.columns
                %input(type='text' name='user[subdomain]' id='subdomain')
            .row.collapse
              %label(for='password')
                Password
              .small-9.columns
                %input(type='password' name='user[password]' id='password')
            .row.collapse
              %label(for='password_confirmation')
                Confirm Password
              .small-9.columns
                %input(type='password' name='user[password_confirmation]' id='password_confirmation')
            .row.collapse
              %button.radius.button(type='submit') Sign up
