.row
  .large-10.large-centered.columns
    %h1.text-center.margin-top-50.margin-bottom-30 Terms of Use and Your Privacy
    %p
      We've got a bunch of legal jargon waiting to share with you, but for now
      we're going to give you the scoop straight.
    %p
      We store cookies with some anonymous information about you, just to check
      whether you're signed in or not. If you aren't okay with this, then we're
      guessing you had better just leave the site.
    %p
      If you've received an email from us, it's because we've been specific permission
      to send you an email because you've a) signed up for our services or
      b) asked one of our friends or affiliates how to get signed up.  We'll never
      send you an email from a mass-email list, though.  We prefer good old-fashioned
      word of mouth.
    %p
      If you've signed up and into the site, you've given us your name and
      possibly more personal information like payment information.  Rest assured,
      we've got your name and a reference to your payment information, but we
      don't keep your credit card information on file.
    %p
      If you install Portly onto your personal computer, you're accepting that
      we are going to show you and only you the name of your computer when
      you are signed in. We're also recording your IP address of the connected
      computer, but that information is not shared to anyone, not even the
      government, unless you are using our services for something deemed illegal
      in the US, including but not limited to serving up pirated goods or
      inappropriate content that has consequences in court.  Your account will
      be terminated and any money you have paid will be surrendered.
    %p
      If you are using our services for something legal but of immoral standards,
      such as hosting pornographic material or content that is derogatory
      in nature, we're not going to turn you over to anyone or report you, but
      you will find your account suspended until you remove the content.  If you
      don't want to remove it, we'll have to cut off
      your service and won't be providing any refunds for you.
    %p
      Other than those things, you should be pretty good to go.  We do reserve
      the right to terminate accounts at our discretion, and we don't guarantee
      refunds on those accounts.  However, we'll make our best effort to work
      things out and refund appropriate instances. We're nice people and all just
      want to be friends.

