%header.pricing-header.margin-top-50.margin-bottom-0.padding-top-0.padding-bottom-50
  %h1.source.margin-top-0 Pick your Portly Pro Plan
.content-area
  .row
    .large-10.large-offset-1.columns
      %ul.masked-radios.plans
        %li
          %label
            %input{:type => 'radio', :value => 5, :name => 'plan'}
            .text-center
              %h3 2 Connections
              .name $5/month
        %li
          %label
            %input{:type => 'radio', :value => 10, :name => 'plan'}
            .text-center
              %h3 5 Connections
              .name $10/month
        %li
          %label
            %input{:type => 'radio', :value => 20, :name => 'plan'}
            .text-center
              %h3 10 Connections
              .name $20/month
  .row.margin-top-20
    .text-center.small
      All Pro plans come with SSL support, no timeouts, built-in auto-reconnecting
      and CNAME support for using your own domain.
