%h3 Looks like it's time to upgrade!
%p.lead You've exceeded your monthly bandwidth of #{@user.plan.bandwidth} GB.
%p
  Looks like your sites running on Portly are really doing well! Unfortunately,
  they're doing so well you've run out of your allocated resources for this
  monthly billing period.  We've got a couple options for you, though.
%p
  You can log into Portly and <a href="https://portly.co/upgrade">upgrade your account</a>
  to increase your monthly bandwidth immediately.  We'll keep you on the same billing cycle and
  just subtract what you've already used from the new plan.
%p
  Your other option is to just wait it out until your next billing period.  Until then, your
  tunnels will display their default splash pages whether you're online or offline. No
  worries, though, we'll start everything back up at the beginning of the next billing
  period. Just let us know!
%p
  We're here to help!
%p
  The Portly Team
-#/ Callout Panel
  %p.callout
    Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.
    %a{:href => "#"} Click it! »
  / /Callout Panel

