%h3 You've been invited to Portly!
%p.lead And someone has given you a sweet deal.
%p
  You must have good connections, because we're giving you a deal because of
  who you know.  Just use the link below to sign up, and we'll get you set
  up with a deal that will make others envious.  This is a one-time use
  invite, though, so there's no need to share the link.

%p
  %a{ :href => "https://getportly.com/invites/#{@invite.code}"} Use this link to join.
%p
  Pretty simple. Join Portly,
  boot it up, and get to sharing! Check out our <a href="https://getportly.com/support">Support</a>
  page to take you through all the cool tricks you can do, like integrating with
  Pow and using your own domain for the tunnels.

%p
  We're here to help!
%p
  The Portly Team
