%h3 News from Portly!
%p.lead Check out what we've been up to.
%p
  Thanks for being part of Portly and a community of sharing. We've got
  some news for you about what we've been doing lately.
%p= @content
%p
  We're here to help!
%p
  The Portly Team
