%h3 Need a new password?
%p
  You requested a password reset from our site.
  Click the link below and you'll be
  redirected to a form where you can set a new password.
%p
  %a.btn{:href => "https://getportly.com/reset-password/#{@user.reset_password_token}"} Reset Password
%p
  We're here to help!
%p
  The Portly Team
-#/ Callout Panel
  %p.callout
    Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.
    %a{:href => "#"} Click it! »
  / /Callout Panel

