%h3 Welcome to Portly!
%p.lead Here's your chance to try out the whole buffet for 30 days.
%p
  Thanks for joining Portly to try out a tool that cures your insatiable appetite
  for sharing your work.  Just install the app and start building tunnels to
  the outside world.  You can use the app or our web interface to build them,
  so even if you're away from your computer, you'll be able to get those wheels
  spinning.
%p
  So first, <a href="https://getportly.com/download">download the app</a>,
  boot it up, and get to sharing! Check out our <a href="https://getportly.com/support">Support</a>
  page to take you through all the cool tricks you can do, like integrating with
  Pow and using your own domain for the tunnels.

%p
  We're here to help!
%p
  The Portly Team
-#/ Callout Panel
  %p.callout
    Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.
    %a{:href => "#"} Click it! »
  / /Callout Panel
