.download-page.wide
  .vertical-center
  .content
    %h1.logo.centered.margin-bottom-30
      %a{:href => '/'} Portly
    %h3.text-center Download and Install Portly
    %h5.text-center Access your sites and show them off, too.
    .row
      .large-12.large-centered.columns.text-center.margin-top-20
        %a.button.big.pink{:href => '/downloads/current'} Free Download
    .row
      .large-12.large-centered.columns.text-center
        %strong= "#{Version.last.version}"
        for Mac OS X 10.7 and up



