!!!html
%html
  %head
    %title= @title || App.config.site.title
    = stylesheet_include_tag 'page'
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
  %body
    - if logo
      .row
        .large-8.large-centered.columns.text-center.margin-top-50.margin-bottom-20
          %img{:src => "https://getportly.com#{logo}", :style => 'max-width: 200px; max-height: 200px'}
    .row
      .large-8.large-centered.columns
        = content
    .row
      .large-8.large-centered.columns.margin-top-20
        .small.text-center
          This site runs on <a href="https://getportly.com">Portly</a>. Try it out yourself for free.
