%footer
  .row.padding-top-20
    .large-3.columns
      %h6.header Portly
      %ul.side-nav.padding-top-0
        %li
          %a{:href => '/blog'} Blog
          %a{:href => '/download'} Download
    .large-3.columns
      %h6.header Support
      %ul.side-nav.padding-top-0
        %li
          %a{:href => '/support'} Help Center
          %a{:href => '/terms'} Terms &amp; Privacy
          %a{:href => '/support?contact'} Contact Us
    .large-3.large-offset-3.columns.padding-top-75.text-right
      %small Copyright &copy; 2013 Portly


