%header#main
  .row
    %h1.logo.black.margin-top-20
      %a{:href => '/'} Portly
    .large-12.columns
      %nav.nav-collapse
        %ul.front-page-nav
          %li= nav_link_to 'Tunnels', '/tunnels', restful: true
          %li= nav_link_to 'Account', '/account'
          %li= link_to 'Sign Out', '/signout', :class => 'signout'
