%header#main
  .row
    .large-3.columns
      %h1.logo.margin-top-20.margin-bottom-20
        %a{:href => '/'} Portly
    .large-9.columns.nav-container
      %ul.interior-nav
        %li= nav_link_to 'Tunnels', '/tunnels', restful: true
        %li= nav_link_to 'Account', '/account'
        %li= link_to 'Sign Out', '/signout', :class => 'signout'
