.destroy-modal.modal
  %h3
    Remove Computer
    %a{:href => "#cancel", :rel => "modal:close"} Cancel
  %form{'data-action' => 'destroy'}
    .row
      .large-12.columns
        Are you sure you want to remove this computer from your account?
    .row
      .large-12.columns.margin-top-20
        %button.margin-bottom-0{:type => "submit"} Confirm removal


